.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-clients {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.our-clients__item{
    min-width: calc((100% - 30px) / 2);
    @media screen and (min-width: 768px) {
            min-width: calc((100% - 60px) / 3);
        }
    @media screen and (min-width: 1200px) {
            min-width: calc((100% - 150px) / 6);
        }
}

.our-clients-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-size: cover;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            border: 1px solid var(--accent-color);
        }
    &:hover .our-clients-logo,
    &:focus .our-clients-logo {
                    fill: var(--accent-color);
                }
}

.our-clients-logo {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



