.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    p {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.15;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--title-text-color);
        }
}


.buttom-close-bg {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    &:hover {
    cursor: pointer;
}
    &:hover .icon-buttom-close {
    fill: var(--accent-color);
}}

.icon-buttom-close {
    fill: var(--logo-studio-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

form {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.form-area {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.text-input {
    position: relative;
}

.input-area {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border-color: var(--accent-color);
    cursor: pointer;
}
    &:hover+.form-icon,
    &:focus+.form-icon {
    fill: var(--accent-color);
}
}

.form-icon {
    position: absolute;
    left: 12px;
    top: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    resize: none;
    display: block;
    width: 100%;
    min-height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border-color: var(--accent-color);
    cursor: pointer;
}
    &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
}

.textarea {
    margin-bottom: 20px;
}

.checkbox-label {
    position: relative;
    padding-left: 36px;
    margin-bottom: 30px;
}

.icon-vector {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 14px;
    fill: transparent;
    border: 2px solid #212121;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-image 2500ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox{
    &:focus+.icon-vector {
    outline: 1px solid var(--accent-color);
}
    &:checked+.icon-vector {
    background-color: var(--accent-color);
    border: none;
    width: 16px;
    height: 15px;
    border: 2px solid var(--accent-color);
    background-image: url(../images/agree-svg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
}
}

.contract {
    color: var(--accent-color);
}

.modal-button {
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: #188CE8;
}
}

