p,
h1,
h2,
h3,
h4,
h5,
ul {
    margin: 0;
}

img {
    display: block;
    height: 100%;
    width: 100%;

}
picture{
    display: block;
    // height: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 320px) {
            width: 320px;
        }
    @media screen and (min-width: 480px){
        width: 480px;
    }
    @media screen and (min-width: 768px) {
            width: 768px;
        }
    @media screen and (min-width: 1200px) {
            width: 1200px;
        }
}

.section {
    // @media screen and (min-width: 320px) {
    //     margin: 0;
    //     padding: auto;
    //     width: 320px;
    //     }
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        }
}

.section-padding-top {
    padding-top: 0;
}