:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --dark-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --logo-studio-color: #000000;
    --footer-font-color: rgba(255, 255, 255, 0.6);
}
$mainfont: 'Roboto',sans-serif;
$secondaryfont: 'Raleway',sans-serif;
